header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;

  &.black {
    background-color: #141414;
  }

  .header__container {
    height: 30px;
    display: flex;
    
    img {
      height: 100%;
      gap: 22px;
      padding-right: 50px;
    }

    .header__menu {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;

      .header__item {
        color: #ffffff;
        font-size: 1rem;
        padding: 26px 0;
        text-decoration: none;

        &:hover {
          color: #ddd7d7;
        }
      }
    }
  }

  .header__user {
    height: 35px;

    img {
      height: 100%;
      border-radius: 3px;
    }
  }
}
