.trendingMovie__container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin: 0 30px;

    .trendingMovie__poster {
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        max-width: 10%;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    
        &:after {
            border-radius: 5px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
            content: "";
            height: 100%;
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            width: 100%;
            z-index: -1;
          }
      }

  }


  


    