.trendingMovie__container {
    padding: 50px;

    .trendingMovie__box {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(7, minmax(100px, 1fr));
        

        a {
            transition: transform .3s;  

            &:hover {
                transition: transform .3s;
                -ms-transform: scale(1.4);
                -webkit-transform: scale(1.4);  
                transform: scale(1.4);
              }

        }

        img {
            border-radius: 5px;
            max-width: 100%;
          }

      }






  }

  


  


    