/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
}
.header .header__logo {
  max-width: 93px;
  padding-right: 30px;
  text-align: center;
}
.header .header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.header .header__item {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 26px 0;
  text-decoration: none;
}
.header .header__item:hover {
  color: #ddd7d7;
}

.highlight {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(/public/images/highlight/movie-back.jpg) no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.highlight .highlight__container {
  grid-row: 2;
  padding-left: 60px;
}
.highlight .highlight__image {
  max-width: 90%;
}
.highlight .highlight__text {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.4;
  padding-top: 10px;
  text-shadow: #000000 2px 2px 4px;
}
.highlight .highlight__classification {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.highlight .highlight__buttons {
  margin-top: 15px;
}
.highlight .highlight__watchbutton {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
  background-color: #fff;
  color: #000;
}
.highlight .highlight__watchbutton:hover {
  opacity: 0.7;
}
.highlight .highlight__mylistbutton {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
  background-color: #333;
  color: #fff;
}
.highlight .highlight__mylistbutton:hover {
  opacity: 0.7;
}

body {
  background-color: #000000;
  font-family: "Martel Sans", sans-serif;
  overflow-x: hidden;
}/*# sourceMappingURL=App.css.map */